mixin strongLink(link, text)
	a(href=link) #[strong #{text}]

mixin userImage(user, big=false)
	-
		var text, username;
		if (Array.isArray(user)) (text = user[1], username = user[0]);
		else text = username = user;

	span.player(id=user)
		code(style=`font-size: ${big ? '1.4' : '1.2'}rem; font-weight: bold;`)= text
		a(href=`https://namemc.com/profile/${username}` target='_blank'): img(src=`https://minotar.net/armor/bust/${username}/${big ? '175' : '125'}.png` alt=username)

mixin faq(q, a)
	.faq
		.row
			.col-1.faq: strong Q:&nbsp;&nbsp;
			.col-11.faq!= q
		.row
			.col-1.faq: strong A:&nbsp;&nbsp;
			.col-11.faq!= a
	br

mixin asset(info)
	- var baseUrl = '/images/pack/assets/minecraft/textures/';
	- var image = info.icon ? info.icon : baseUrl + info.url;
	span.asset(id=info.id class=info.class minecraft=info.class)
		a(href='/#' onclick=`asset('${info.id}', "${info.title}", '${info.class}');return false;`): img(src=image width='128px' alt=info.title)
		code(style='font-size: 1.2rem; font-weight: unset;')= info.title